DATABASE_URL=your_database_url
PORT=8100
JWT_SECRET=yuour_jwt_secret
NODE_ENV=development


Nodemailer_GMAIL=your_gmail
Nodemailer_GMAIL_PASSWORD=your_gmail_password
 
ADMIN_EMAIL=your_admin_email
ADMIN_PASSWORD=your_admin_password

JWT_SECRET_KEY=your_jwt_secret
STRIPE_SECRET_KEY=your_stripe_secret_key
UPLOAD_FOLDER=your_upload_folder
max_file_size=5242880
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_BUCKET_NAME=your_aws_bucket
AWS_REGION=us-east-2

# auth secrete 

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

APPLE_CLIENT_ID=com.yourdomain.auth
APPLE_TEAM_ID=ABCD123456
APPLE_KEY_ID=ABC123XYZ
APPLE_PRIVATE_KEY_PATH=./AuthKey_ABC123XYZ.p8

SESSION_SECRET=sessionsecret
 
 # OpenAI API Keys 
OPENAI_API_KEY=your_openai_api_key
 
HF_TOKEN=your_hf_token
HF_API_KEY_TWO=your_hf_api_key_two
